<h1>@<%= @user.username %></h1>
<h4><%= @user.name %></h4>
<h4><%= @user.location %></h4>
<h4><%= @user.bio %></h4>

<p>
  <% if current_user.following.include?(@user.id) %>
    <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary", id: "unfollow_btn"%>
  <% else %>
    <% if current_user.id != @user.id %>
      <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
    <% end %>
  <% end %>
</p>

<% @user.tweets.order(created_at: :desc).each do |tweet| %>
    <div class="well">
      <p>
        <%= image_tag tweet.user.avatar.url, height: 25, width: 25 %>
        <%= tweet.user.name %>
        @<%= tweet.user.username %>
        <%= time_ago_in_words(tweet.created_at) %>
      </p>
      <p>
        <%= tweet.message.html_safe %>
      </p>
    </div>
<% end %>

