<h1><%= @tag.phrase %></h1>

<% @tag.tweets.order(created_at: :desc).each do |tweet| %>

    <div class="well">
      <p>
        <%= image_tag tweet.user.avatar.url, height: 25, width: 25 %>
        <%= tweet.user.name %>
        <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user_id) %>
        <%= time_ago_in_words(tweet.created_at) %>
      </p>
      <p>
        <%= tweet.message.html_safe %>
      </p>
    </div>

<% end %>